<!-- boton -->
<section id="all" class="min-vh-100">
<section id="action" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="" class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#agregarClienteModal">
                    <i class="fa-solid fa-plus"></i> Agregar Cliente
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Listado -->

<section id="clientes">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4>listado de clientes</h4>
                    </div>
                    <table class="table table-striped">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Saldo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cliente of clientes; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ cliente.nombre }} {{ cliente.apellido }}</td>
                                <td>{{ cliente.saldo | currency }}</td>
                                <td>
                                    <a routerLink="/client/edit/{{cliente.id}}" class="btn btn-secondary py-1">
                                        <i class="fa-solid fa-pen-to-square"></i> Editar
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-2 p-2">
                <div class="card text-center bg-danger text-white mb-3">
                    <div class="card-body">
                        <h3>Saldo Total</h3>
                        <h4>
                            {{ getSaldoTotal() | currency }}
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-2 p-2">
                <div class="card text-center bg-success text-white mb-3">
                    <div class="card-body">
                        <h3>Total Clientes</h3>
                        <h4>
                            <i class="fa-solid fa-user"></i> {{ clientes?.length }}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- modal -->
<div class="modal fade" tabindex="-1" id="agregarClienteModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Agregar Clientes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <flash-messages></flash-messages>

        <form #clienteForm="ngForm" (submit)="agregar(clienteForm)">
            <div class="modal-body">
               <div class="form-group">
                <label for="nombre">Nombre</label>
                <input 
                type="text" 
                id="nombre" 
                name="nombre"
                class="form-control"
                [(ngModel)]="cliente.nombre"
                #nombre="ngModel"
                [ngClass]="{'is-invalid': nombre.errors && nombre.touched}"
                required
                minlength="2"
                >
                <div [hidden]="!nombre.errors?.['required']" class="invalid-feedback">
                    Nombre requerido
                </div>
                <div [hidden]="!nombre.errors?.['minlength']" class="invalid-feedback">
                    Debe contener al menos 2 caracteres
                </div>
               </div>

               <div class="form-group">
                <label for="apellido">Apellido</label>
                <input 
                type="text" 
                id="apellido"
                name="apellido"
                class="form-control"
                [(ngModel)]="cliente.apellido"
                #apellido = "ngModel"
                [ngClass]="{'is-invalid': apellido.errors && apellido.touched}"
                required
                minlength="2"
                >
                <div [hidden]="!apellido.errors?.['required']" class="invalid-feedback">
                    Apellido requerido
                </div>
                <div [hidden]="!apellido.errors?.['minlength']" class="invalid-feedback">
                    Debe contener al menos 2 caracteres
                </div>
               </div>


               <div class="form-group">
                <label for="email">Email</label>
                <input 
                type="email" 
                id="email" 
                class="form-control"
                name="email"
                [(ngModel)]="cliente.email"
                #email="ngModel"
                [ngClass]="{'is-invalid': email.errors && email.touched}"
                required
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                >
                <div [hidden]="!email.errors?.['required']" class="invalid-feedback">
                    Email requerido
                </div>
                <div [hidden]="!email.errors?.['pattern']" class="invalid-feedback">
                    Debe ser un email valido
                </div>
               </div>

               <div class="form-group">
                <label for="saldo">Saldo</label>
                <input 
                type="number" 
                id="saldo" 
                class="form-control"
                name="saldo"
                [(ngModel)]="cliente.saldo"
                #saldo="ngModel"
                [ngClass]="{'is-invalid': saldo.errors && saldo.touched}"
                required
                >
                <div [hidden]="!saldo.errors?.['required']" class="invalid-feedback">
                    Saldo requerido
                </div>
               </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
        </div>
    </div>
  </div>
</section>