<header id="main-header" class="py-2 bg-secondary text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2><i class="fa-solid fa-user"></i> Editar CLiente</h2>
      </div>
    </div>
  </div>
</header>

<form #clienteForm="ngForm" (submit)="guardar(clienteForm)">
  <flash-messages></flash-messages>

  <section id="actions" class="py-4 mb-4 bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col">
          <a routerLink="/" class="btn btn-primary btn-block">
            <i class="fa-solid fa-arrow-left"></i>Regresar al Inicio
          </a>
        </div>

        <div class="col">
          <button type="submit" class="btn btn-success btn-block">
            <i class="fa-solid fa-check"></i>Guardar Cliente
          </button>
        </div>

        <div class="col">
          <a href="#" (click)="eliminar()" class="btn btn-danger btn-block">
            <i class="fa-solid fa-trash"></i>Eliminar Cliente
          </a>
        </div>
      </div>
    </div>
</section>

    <section id="datails">
      <div class="container-sm">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header">
                <h4>Editar Cliente</h4>
                <div class="card-body">
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input
                      type="text"
                      id="nombre"
                      name="nombre"
                      class="form-control"
                      [(ngModel)]="cliente.nombre"
                      #nombre="ngModel"
                      [ngClass]="{
                        'is-invalid': nombre.errors && nombre.touched
                      }"
                      required
                      minlength="2"
                    />
                    <div
                      [hidden]="!nombre.errors?.['required']"
                      class="invalid-feedback"
                    >
                      Nombre requerido
                    </div>
                    <div
                      [hidden]="!nombre.errors?.['minlength']"
                      class="invalid-feedback"
                    >
                      Debe contener al menos 2 caracteres
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input
                      type="text"
                      id="apellido"
                      name="apellido"
                      class="form-control"
                      [(ngModel)]="cliente.apellido"
                      #apellido="ngModel"
                      [ngClass]="{
                        'is-invalid': apellido.errors && apellido.touched
                      }"
                      required
                      minlength="2"
                    />
                    <div
                      [hidden]="!apellido.errors?.['required']"
                      class="invalid-feedback"
                    >
                      Apellido requerido
                    </div>
                    <div
                      [hidden]="!apellido.errors?.['minlength']"
                      class="invalid-feedback"
                    >
                      Debe contener al menos 2 caracteres
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="email">Email</label>
                    <input
                      type="email"
                      id="email"
                      class="form-control"
                      name="email"
                      [(ngModel)]="cliente.email"
                      #email="ngModel"
                      [ngClass]="{
                        'is-invalid': email.errors && email.touched
                      }"
                      required
                      pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    />
                    <div
                      [hidden]="!email.errors?.['required']"
                      class="invalid-feedback"
                    >
                      Email requerido
                    </div>
                    <div
                      [hidden]="!email.errors?.['pattern']"
                      class="invalid-feedback"
                    >
                      Debe ser un email valido
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="saldo">Saldo</label>
                    <input
                      type="number"
                      id="saldo"
                      class="form-control"
                      name="saldo"
                      [(ngModel)]="cliente.saldo"
                      #saldo="ngModel"
                      [ngClass]="{
                        'is-invalid': saldo.errors && saldo.touched
                      }"
                      required
                    />
                    <div
                      [hidden]="!saldo.errors?.['required']"
                      class="invalid-feedback"
                    >
                      Saldo requerido
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</form>
